<!DOCTYPE html>
<html lang="en">
     
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Anuncio coche</title>

     {% include 'coches/includes/links.html' %}
</head>

<body>

     {% include 'coches/includes/cabecera.html' %}

     <main>
          <div class="contenedor">
               <div class="detalles-coche">
                    <div class="detalles--info">
                         <p class="parrafo-grande"><span class="marca">{{ coche.marca }}</span>&nbsp;{{ coche.modelo }}</p>
                         <p>{{ coche.descripcion }}</p>
                         <p class="info--destacado">{{ coche.kilometros }} km</p>
                         <p class="info--destacado">{{ coche.precio|floatformat:2  }}€</p>
                         <p class="info--categorias">
                              {{ coche.categorias }}
                              {% comment %} {% for categoria in coche.categorias %}
                                   {{ categoria }}{% if not forloop.last %}, {% endif %}
                              {% endfor%} {% endcomment %}
                         </p>
                    </div>
                    <div class="detalles--imagen">
                         <img src="/media/{{ coche.imagen }}" alt="">
                    </div>
               </div>
               {% if request.user.is_authenticated %}
               <div class="contenedor-enlaces">
                    <a class="enlace" href="{% url 'modificar' coche.id %}">Modificar anuncio</a>
                    <a class="enlace" href="{% url 'borrar' coche.id %}">Borrar anuncio</a>
               </div>
          {% endif %}
          </div>
          
     </main>
</body>
</html>