<!DOCTYPE html>

<html lang="es-es" dir="ltr">

<head>
     <title>Restablecer contraseña | Sitio de administración de Django</title>
     <link rel="stylesheet" href="/static/admin/css/base.css">
     <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
     <link rel="stylesheet" href="/static/admin/css/forms.css">
     <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
     <link rel="stylesheet" href="/static/admin/css/responsive.css">

     <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="" data-admin-utc-offset="0">

     <div id="container">

          <div id="header">
               <div id="branding">

                    <h1 id="site-name"><a href="/admin/">Administración de Django</a></h1>

               </div>
          </div>

          <!-- END Header -->

          <div class="breadcrumbs">
               <a href="/admin/">Inicio</a>
               &rsaquo; Restablecer contraseña
          </div>



          <div class="main" id="main">

               <div class="content">



                    <!-- Content -->
                    <div id="content" class="colM">

                         <h1>Restablecer contraseña</h1>



                         <p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le
                              enviaremos las instrucciones para configurar una nueva.</p>

                         <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                                   value="X9px0hY2ljpn4AbBdww5OhhlfFU3i5HWbKjHu0CCLv2QJx6pKN9m3aAZ3Q3fZP9W">
                              <fieldset class="module aligned">
                                   <div class="form-row field-email">

                                        <label for="id_email">Correo electrónico:</label>
                                        <input type="email" name="email" autocomplete="email" maxlength="254" required
                                             id="id_email">
                                   </div>
                                   <input type="submit" value="Restablecer mi contraseña">
                              </fieldset>
                         </form>



                         <br class="clear">
                    </div>
                    <!-- END Content -->
                    <div id="footer"></div>
               </div>
          </div>
     </div>
     <!-- END Container -->
</body>

</html>